:root {
   --table-color: forestgreen;
   --row-bg-color: honeydew;
   font-family: Calibri, Myriad;
}
   
/* Your solution goes here */

#game-table {
   display: inline-block;
   text-align: center;
   border: 2px solid var(--table-color);
 }
 
 #game-table caption {
   background-color: var(--table-color);
   color: #ffffff;
   margin: 0;
   padding: 10px 0 10px 0;
   text-transform: uppercase;
   font-size: 24px;
   font-weight: lighter;
 }
 
 #game-table th {
   font-weight: bolder;
 }
 
 #game-table td {
   font-weight: lighter;
 }
 
 #game-table th,
 #game-table td {
   /* background-color: var(--row-bg-color); */
   margin: 0;
   padding: 10px 10px 10px 10px;
   font-size: 18px;
 }
 
 #game-table tr:nth-child(even) {
   background-color: var(--row-bg-color);
 }